<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Staff Registration Email</title>
   </head>
   <body>
   <p>Dear <b>{{emailData.username}}</b>,</p>
   <p style="width:400px;padding-left:20px;">We welcome you to Rack Management System. This email is to inform you that you were successfully registered by {{emailData.clientname}}. Please use the following credentials to access Rack Management System:
   <br />
         Username:   {{emailData.username}}<br />
         Password:  {{emailData.confirmPassword}} <br />
		 Please click
         <a href="{{link}}">
         here
         </a> for login.
		 <br />
         Thank you
      </p>

      Regards, <br />   
      <address>
      From: <a href="mailto:correspondence@rms.electems.com">Support RMS</a>.<br> 
      Visit us at: <a href="rms.electems.com">rms.electems.com</a>
      </address>
   </body>
</html>